<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body   
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Today's DB
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Change Daily
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Change Weekly
                    li.main-header__item
                        a(href="/", class=(path === '/' ? 'active' : '')) Change Monthly
                    li.main-header__item
                        a(href="/a", class=(path === '/' ? 'active' : '')) Holder
        block content

