.table-refresh {
    min-width: 400 px;
    max-width: 1000px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.table-refresh__table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 5px rgba(119, 23, 23, 0.973);
    border-bottom: 2px solid #0a4237;
}

.table-refresh__table thread tr {
    background: #009578;
    color: #bb4806;
}

.table-frefresh__table th,
.table-refresh__table td {
    text-align: left;
    padding: 9px 18px;
    font-weight: normal;
}

.table-refresh__table thead {
    background: #0c1e88;
}
.table-refresh__table tbody tr:nth-of-type(even) {
    background: #921616;
}
.table-refresh__table tbody tr:nth-of-type(odd) {
    background: #915656;
}

.table-refresh__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

.table-refresh__options > *:not(:last-child) {
    margin-right: 12px;
}

.table-refresh__button {
    background: #c7c6c6;
    color: #333333;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.table-refresh__label {
    font-size: 0.8em;
    color: #999999;
}


/* 
.table-refresh__button > i {
    font-size: 1.2em
}

.table-refresh__button--refreshing {
    animation: 0.5s rotate infinite linear;
} */

